@theme {
  --text-heading1: 1.375rem;
  --text-heading1--font-weight: 800;
  --text-heading1--letter-spacing: -0.02em;
  --text-heading1--line-height: 135%;

  --text-heading2: 1.25rem;
  --text-heading2--font-weight: 700;
  --text-heading2--letter-spacing: -0.02em;
  --text-heading2--line-height: 135%;

  --text-heading3: 1.125rem;
  --text-heading3--font-weight: 700;
  --text-heading3--letter-spacing: -0.02em;
  --text-heading3--line-height: 135%;

  --text-heading4: 1.125rem;
  --text-heading4--font-weight: 600;
  --text-heading4--letter-spacing: -0.02em;
  --text-heading4--line-height: 135%;

  --text-body1-sb: 1rem;
  --text-body1-sb--font-weight: 600;
  --text-body1-sb--letter-spacing: -0.02em;
  --text-body1-sb--line-height: 135%;

  --text-body1-med: 1rem;
  --text-body1-med--font-weight: 500;
  --text-body1-med--letter-spacing: -0.02em;
  --text-body1-med--line-height: 135%;

  --text-body2-med: 0.875rem;
  --text-body2-med--font-weight: 500;
  --text-body2-med--letter-spacing: -0.02em;
  --text-body2-med--line-height: 135%;

  --text-lab1-b: 0.875rem;
  --text-lab1-b--font-weight: 700;
  --text-lab1-b--letter-spacing: -0.02em;
  --text-lab1-b--line-height: 135%;

  --text-lab1-sb: 0.875rem;
  --text-lab1-sb--font-weight: 600;
  --text-lab1-sb--letter-spacing: -0.02em;
  --text-lab1-sb--line-height: 135%;

  --text-cap1-b: 0.75rem;
  --text-cap1-b--font-weight: 700;
  --text-cap1-b--letter-spacing: -0.02em;
  --text-cap1-b--line-height: 135%;

  --text-cap1-med: 0.75rem;
  --text-cap1-med--font-weight: 500;
  --text-cap1-med--letter-spacing: -0.02em;
  --text-cap1-med--line-height: 135%;
}
